

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.mdl-data-table__cell--non-numeric {
    padding-bottom: 12px !important;
}

.container {
    margin: 0 auto;
    padding: 0 6px;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    left: 0;
    display: inline;
    z-index: 100;
    background-color: black;
    opacity: 0.97;
    padding: 30px 0;
    color: white;
    transition: opacity .3s ease .15s;
}

.inactive {
    opacity:0;
}

.hide {
    display: none;
}

.overlay-description {
    margin-left: 30px;
    font-size: 18px;
}
.overlay-title {
    display: inline-block;
    cursor: pointer;
    color: #FF4081;
    transition: all .2s ease-in-out;
}

.overlay-title:hover {
    transform: scale(1.1);
}

.guide-title {
    color: #FFF300;
}

.guide-description {
    font-size: 18px; 
}

#logo {
    max-height: 80%;
    max-width: 80%;
    margin-right: 20px;
}
main {
    width: 100%;
    margin-top: 25px;
}

.enquiry-history-title {
    font-size: 20px;
    color: #9F9F9F;
    cursor: pointer;
}


.enquiry-table tr{
    margin-top: 20px;
    height: 0px !important;
}

.enquiry-table tr.ng-leave td,
.enquiry-table tr.ng-enter td{
    animation-timing-function: linear;
    transition: all 0.2s;
    overflow: hidden;   
}    

.enquiry-table tr.ng-leave td,
.enquiry-table tr.ng-enter.ng-enter-active td{    
    vertical-align: top;
    line-height: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    height: 48px;
}

.enquiry-table tr.ng-leave.ng-leave-active td,
.enquiry-table tr.ng-enter td{
    vertical-align: middle;
    line-height: 0px;
    padding-top: 0px;
    padding-bottom: 0px !important;
    height: 0px;
}

.enquiry-description img{
    width: 100%;
}

.enquiry-table {
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    white-space: normal;
}

.answers {
    padding: 10px;
}

.answers .answer {
    display: block;
}

.enquiry-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.enquiry-description {
    margin-bottom: 5px;
    font-size: 16px;
}

.answer label{
    margin-bottom: 10px;
}

.dialog-wrapper {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    align-items: center;
    z-index: 100;
}

.dialog{
    display: flex;
    flex-direction: column;
    width: calc( 80%  );
    height: 95%;
    background-color: white;
    //z-index: 200;
    overflow: hidden;
    margin: auto;
}


.dialog-header {
    display: flex;
    top: 0px;
    width: 100%;
    height: 64px;
    //    background-color: #3F51B5;
    background-color: #ABABAB;
    color: white;
    align-items: center;
    padding-left: 15px;
    font-size: 15px;
}

.dialog-content {
    height: 100%;
    width: calc( 100% - 30px );
    overflow-y:scroll;
    overflow-x:hidden;
    padding: 15px;
}

.dialog-content img {
    max-width: 90%;
    display: block;
}

.dialog-footer {
    height: 64px;
    width: 100%;
    display:flex;
    align-items: center;
    padding: 15px;
}

/* CSS for angular animation */
.ng-hide-add, .ng-hide-remove {
    /* ensure visibility during the transition */
    display: block !important; /* yes, important */
}

.angular-animation-fade {
    transition: 0.3s linear all;
    opacity: 1;
}

.angular-animation-fade.ng-hide {
    opacity: 0;
}

@media screen and (max-device-width: 480px){
    .dialog{
        width: 90%;
        height: 90%;        
    }
    
    .dialog-content img {
        max-width: 100%;
    }
    
    .overlay {
        padding: 0;
    }

    .overlay h1 {
        font-size: 40px;
    }

    .overlay ul {
        padding-left: 10px;
    }
    
    .overlay-title {
        font-size: 30px;
    }

    .overlay-description {
    }
}
