<h2>如何下載計中提供的防毒軟體</h2>
<ol>
    <li>
        <p>
            打開<a href="https://download.cc.ntu.edu.tw/index.php">計中授權軟體</a>頁面。<br/>
            <a href="images/cc-software.png">
                <img src="images/cc-software.png"/>
            </a>
        </p>
    </li>
    <li>
        <p>
            搜尋Antivirus或是把頁面往下拉，可以看到「Sophos Antivirus」。
            <a href="images/cc-software-anti-virus.png">
                <img src="images/cc-software-anti-virus.png"/>
            </a>
        </p>
    </li>
    <li>
        按照作業系統，選擇版本下載。
    </li>        
</ol>

