<h2>如何查看DHCP是否已啟用 (Windows)</h2>
<ol>
    <li>
        <p>
            在開始列右側網路狀態圖示上按右鍵，選取「開啟行動作業中心」。
            <a href="images/open-network-center.png">
                <img src="images/open-network-center.png"/>
            </a>
        </p>        
    </li>
    <li>
        <p>
            點選「區域連線」。（注意：請點選有線網路的區域連線。）
            <a href="images/network-center.png">
                <img src="images/network-center.png"/>
            </a>
        </p>
    </li>
    <li>
        <p>
            點選「詳細資料」。
            <a href="images/images/network-center-status.png">
                <img src="images/network-center-status.png"/>
            </a>
        </p>        
    </li>
    <li>
        <p>
            可以從「DHCP已啟用」欄位知道DHCP是否啟用。
            <a href="images/network-center-status-detail-dhcp.png">
                <img src="images/network-center-status-detail-dhcp.png"/>
            </a>
        </p>        
    </li>
    
</ol>
