<link rel="stylesheet" href="css/contact.css">

<div class="mdl-card mdl-shadow--2dp" id="contact" ng-controller="contactController">
	<div class="mdl-card__title">
		<div class="mdl-card-container">
			<h1 class="accent">確認資料</h1>
		</div>
	</div>
	<div id="results">
		
		<div id="result-body" >
			<div class="animation-fadeIn" ng-include src="resultEntries[resultIndex].id">
				
			</div>
		</div>
		<div id="result-footer" >
			<div 
				ng-class="{ visible: getPrevious(), hovered: previousHovered }"
				ng-click="gotoPreviousResult()" 
				ng-mouseover="previousHovered = true" 
				ng-mouseleave="previousHovered = false"
				class="navigation" id="previous">
				<i id="navigation-icon-previous" class="material-icons navigation-icon">keyboard_arrow_left</i>
				<span class="navigation-indicator">
					{{ getPrevious() }}
				</span>
				
			</div>
			<div 
				ng-class="{ visible: getNext(), hovered: nextHovered }"
				ng-click="gotoNextResult()" 
				ng-mouseover="nextHovered = true" 
				ng-mouseleave="nextHovered = false"
				class="navigation" id="next">
				<span class="navigation-indicator">
					{{ getNext() }}
				</span>
				<i id="navigation-icon-next" class="material-icons navigation-icon">keyboard_arrow_right</i>
			</div>
		</div>
	</div>
</div>


<script type="text/ng-template" id="report">

<div class="result" ng-controller="reportController">
	<h3 class="panel-title">
		疑難排解報告
	</h3>
	<div class="panel-description">
			<table ng-show="enquiryExportResult.length" class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
				<!-- <div id="table-header">
					<thead>
						<tr><td>疑難排解報告</td><td></td></tr>
					</thead>
				</div> -->
					
				<tbody>
					<tr ng-repeat="enquiry in enquiryExportResult">
						<td>{{ enquiry.question }}</td>
						<td ng-bind-html="enquiry.answer"></td>
					</tr>
				</tbody>
		    </table>

			<h3 id="noTroubleshootNotice" ng-hide="enquiryExportResult.length">您尚未進行疑難排解</h3>
	</div>
</div>
	

</script>

<script type="text/ng-template" id="pickTime">

<div class="result" ng-controller="timepickerController">
	<h3 class="panel-title">
		請選三個您有空的時段
	</h3>
	<div class="panel-description">
		<section class="schedule" ng-repeat="schedule in availableSchedules track by $index">
			<div class="datepicker-container">
				<button id="datepicker_{{$index}}" class="mdl-button datepicker">
				  {{ schedule['date'] || '請選一天' }}
				</button>
			</div>
			<ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect" for="datepicker_{{$index}}">
			  <li class="mdl-menu__item" 
			  	ng-repeat="condidateDate in dates" 
			  	ng-click="selectDate(schedule, condidateDate)">
			  		{{ condidateDate }}
			  </li>
			</ul>
			
			<input class="timepicker" ng-model="schedule.scheduleSliderString" type="text" slider options="scheduleSliderOptions" />
		</section>
	</div>
</div>

</script>

<script type="text/ng-template" id="confirmProfile">


<div class="result" >
	<h3 class="panel-title">
		請確認個人資料
	</h3>
	<div class="panel-description">
		<div id="profile">
			<div class="field">
				<span class="field-name">學號</span>
				<div class="mdl-textfield mdl-js-textfield">
					<input class="mdl-textfield__input" type="text" id="studentID" value="B03902074" />
				</div>
			</div>
			<div class="field">
				<span class="field-name">手機</span>
				<div class="mdl-textfield mdl-js-textfield">
					<input class="mdl-textfield__input" type="tel" id="phone" value="0978229545"/>
				</div>
			</div>	
			<div class="field">
				<span class="field-name">房號</span>
				<div class="mdl-textfield mdl-js-textfield">
					<input class="mdl-textfield__input" type="text" id="roomID" value="229B"/>
				</div>
			</div>
		</div>
	</div>
</div>


</script>

<script type="text/ng-template" id="done">
<div class="result" id="done-panel">
	<h3 class="panel-title">
		<i class="material-icons">done</i> 
		完成
	</h3>
	<div class="panel-description">
		<i class="material-icons">send</i>
		<span>送出</span>
	</div>
</div>
</script>