<style>
	
#firstGuide li {
    font-size: 24px;
    margin-bottom: 20px;
    color: #FF4081;
}
#firstGuide ul {
    padding-bottom: 14px;
}

#firstGuide .mdl-card__title { 
	background-color: #FFC107;
}
</style>
<div class="mdl-card mdl-shadow--2dp" id="firstGuide">
	<div class="mdl-card__title">
		<div class="mdl-card-container">
			<h1 class="accent">準備好了嗎？</h1>
		</div>
	</div>
	<div class="mdl-card-container">
		<p class="mdl-card-description">
		待會問的一些問題，你可能必須在待修電腦前面回答，才答的出來。<br/>
		如果你的房間沒有 Wifi ，你自己也沒有行動網路，你可能<span class="emphasize">無法開啟疑難排解中部份外部連結</span>。<br/>
		你有幾個選項：
		<ul>
			<li>
				<i class="material-icons">arrow_forward</i>   借用室友電腦
			</li>
			<li>
				<i class="material-icons">arrow_forward</i>   仍舊完成疑難排解，但不要開啟含有此符號 <i class="material-icons">open_in_new</i> 連結 
			</li>
		</ul>
		</p>
	</div>
		
	<div class="mdl-card-footer-button mdl-card__actions mdl-card--border">
	    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="troubleshooter">
	      知道了
	    </a>
	</div>
	
</div>