
<!DOCTYPE html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Angular.js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/troubleshooterController.js"></script>

    <!-- Google MDL -->
    <link rel="stylesheet" href="bower_components/material-design-lite/material.min.css">
    

    <!-- CSS file -->
    <link rel="stylesheet" href="css/general.css">
    

</head>
<body 
    ng-app="networkTroubleshooter"  
    ng-controller="troubleshooterController" 
    ng-init="chooseLanguage('en')" >

    
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <img id="logo" src="images/ntu-logo.png" alt="National Taiwan University">
            <span class="mdl-layout-title">國立台灣大學宿舍維修系統</span>

            <div class="mdl-layout-spacer"></div>

            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="/">  
                    中文版
                </a>
            </nav>
        </div>
    </header>
    
    <div class="content">
        
        <div class="overlay" id="welcome">
            <div class="container mdl-cell mdl-cell--6-col mdl-cell--8-col-phone">
                <h1>Having troubles with dorm network?</h1>
                <ul>
                    <li >
                        <h3 class="overlay-title" onclick="loadPage('DIY')">
                            <i class="material-icons">arrow_forward</i>  Try our troubleshooter
                        </h3>
                        <p class="overlay-description">We'll guide you through fixing your network problems</p>
                    </li>
                    <li >
                        <h3 class="overlay-title" onclick="loadPage('contact')">
                            <i class="material-icons">arrow_forward</i>  Contact the Network Assistant directly
                        </h3>
                        <p class="overlay-description">
                            Be ready to wait~<br/>
                            The assistant will reply you ASAP.
                        </p>
                    </li>
                </ul>

            </div>
        </div>

        <div class="overlay angular-animation-fade" id="guide" ng-show="guideOpen">
            <div class="container mdl-cell mdl-cell--6-col mdl-cell--8-col-phone">
                <div class="guide-title" >
                    <h1>{{ guide.name }}</h1>
                </div> 
                <div class="guide-description" >
                    <div ng-include="guide.url"></div>
                </div>
                <div class="guide-footer">
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                            ng-click="hideGuide();">
                        Got it!
                    </button>                                        
                </div>

            </div>
        </div>

        <main class="mdl-layout__content" >
            
            <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp mdl-cell mdl-cell--6-col
                          enquiry-table" >
            <tbody>
                <tr ng-repeat=" ( index, enquiry ) in enquiryHistory" >
                <td class="mdl-data-table__cell--non-numeric  enquiry-title enquiry-history-title" ng-click="historyBacktrack(index)">
                    <span >
                    {{ enquiry.title }}
                    </span>
                </td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">
                        <div class="enquiry-title">
                            <span >
                            {{ currentEnquiry.title }}
                            </span>
                        </div>
                        
                        <!-- Guide description -->
                        <div class="enquiry-description" ng-bind-html="currentEnquiry.enquiry" ></div>
                        
                        <!-- Optional: A list of guides -->
                        <div class="guides">
                            <div ng-repeat="guide in currentEnquiry.guides">
                                <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--primary"
                                        ng-click="showGuide( guide )">
                                    {{ guide.name }}
                                </button>
                            </div>
                        </div>

                        <!-- Prompt -->
                        <div class="answers">
                            <div class="answer" ng-repeat="(index, situation) in currentEnquiry.situation ">
                                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" >
                                    <input type="radio" class="mdl-radio__button" ng-model="currentEnquiry.selected"
                                                       ng-value="{{ { index:index, next:situation.next} }}" name="next" />
                                    <span class="mdl-radio__label" ng-bind-html="situation.answer"></span>
                                </label>
                            </div>
                        </div>

                        <!-- Next Step -->
                        <div>
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                                    ng-click="nextEnquiry(currentEnquiry.selected.next)">
                                Next
                            </button>
                        </div>
                                
                    </td>
                </tr>

            </tbody>
            </table>
        </main>  

    </div>
    
    <!-- custom js script -->
    <script src="js/general.js"></script>  
    
    <!-- Google MDL -->
    <script src="bower_components/material-design-lite/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- angular -->
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>    


</body>
