/* leaving animations ----------------------------------------- */
/* rotate and fall */
@keyframes rotateFall {
    0%      { transform: rotateZ(0deg); }
    20%     { transform: rotateZ(10deg); animation-timing-function: ease-out; }
    40%     { transform: rotateZ(17deg); }
    60%     { transform: rotateZ(16deg); }
    100%    { transform: translateY(100%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
    to      { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
    from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}
@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.animation-fadeIn.ng-enter {
  animation: none;  /*Cancel out the inheritted animation*/
  transition: 700ms ease-in-out all;
  opacity:0;
}
.animation-fadeIn.ng-enter-stagger {
  /* this will have a 100ms delay between each successive leave animation */
  transition-delay: 0.1s;

  /* As of 1.4.4, this must always be set: it signals ngAnimate
    to not accidentally inherit a delay property from another CSS class */
  transition-duration: 0s;
}
.animation-fadeIn.ng-enter.ng-enter-active {
  /* standard transition styles */
  opacity:1;
}
.animation-slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.animation-slide.ng-enter,
.animation-slide.ng-leave {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.animation-slide.ng-enter {
    left: 155%;
}
.animation-slide.ng-enter-active {
    left: 0;
}
.animation-slide.ng-leave {
    left: 0;
}
.animation-slide.ng-leave-active {
    left: -155%;
}

.animation-slideDown {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.animation-slideDown.ng-enter,
.animation-slideDown.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.animation-slideDown.ng-enter {
    top: -100%;
}
.animation-slideDown.ng-enter-active {
    top: 0;
}
.animation-slideDown.ng-leave {
    top: 0;
}
.animation-slide.ng-leave-active {
    top: -100%;
}



.animation-pop.ng-hide-add {
  -webkit-animation:0.8s hide;
  animation:0.8s hide;
}

@keyframes hide {
  0% {
    opacity:1;
    transform: scale(1);
  }
  30% {
    transform: scale(1.02);
  }
  100% { 
    opacity:0;
    transform: scale(0.5);
  }
}

@-webkit-keyframes hide {
  0% {
    opacity:1;
    transform: scale(1);
  }
  30% {
    transform: scale(1.02);
  }
  100% { 
    opacity:0;
    transform: scale(0.5);
  }
}


.animation-pop.ng-hide-remove {
  -webkit-animation:0.6s show;
  animation:0.6s show;
}

@keyframes show {
  0% {
    opacity:0;
    transform: scale(0.5);
  }
  70% {
    transform: scale(1.02);
  }
  100% { 
    opacity:1;
    transform: scale(1);
  }
}

@-webkit-keyframes show {
  0% {
    opacity:0;
    transform: scale(0.5);
  }
  70% {
    transform: scale(1.02);
  }
  100% { 
    opacity:1;
    transform: scale(1);
  }
}

/*.mdl-card-animation.ng-enter           { animation: slideInRight 0.5s both ease-in; z-index: 8888; }
.mdl-card-animation.ng-leave           { animation: slideOutLeft 0.5s both ease-in; z-index: 9999; }*/