#contact .mdl-card__title {
	background-color: #FFC107;
	box-shadow: none;
}
#contact .mdl-data-table {
}
#contact td {
	color: rgba(0,0,0,0.66);
}
#contact td:first-child {
	color: black;
}
.result {
}
.panel-title {
	text-align: center;
    position: relative;
    padding: 15px;
    margin: 0;
    background-color:  #FFA907;
    border-top: 1px solid rgba(0,0,0,0.35);
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.mdl-data-table thead tr{
	background-color: #2196F3;
}
.mdl-data-table {
	font-size: 15px;
}
#contact .mdl-card-footer-button {
	text-align: right;
}
#results {
}
.navigation {
	opacity: 0;
	cursor: pointer;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 50%;
	transition: opacity .5s, transform .1s, width .1s;
	-webkit-transition: opacity .5s, transform .1s, width .1s;
}
.navigation.visible {
	opacity: 1
}
.navigation:hover {
	background-color: rgba(158,158,158,0.2);
}
.navigation.hovered {
	transform: scale(1.1);
}

.navigation.ng-enter,
.navigation.ng-leave {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.navigation.ng-enter {
    width: 0;
}
.navigation.ng-enter-active {
    width: 50%;
}
.navigation.ng-leave {
    width: 50%;
}
.navigation.ng-leave-active {
    width: 0;
}
.navigation-indicator {
    line-height: 45px;
    font-size: 25px;
    text-align: center;
    padding: 20px;
    transition: all .2s ease-in-out;
}
.navigation-icon {
    font-size: 35px;
    margin-top: auto;
	margin-bottom: auto;
}
#next {
	float: right;
}
#previous {
	float: left;
}

#result-body {
	min-height: 400px;
	width: 100%;
}
#result-footer {
	position: relative;
	border-top: 1px solid rgba(0,0,0,0.1);
}
.panel-description {
	padding-top: 50px;
}
#noTroubleshootNotice {
	text-align: center;
}


slider {
	display:     block;
	position:    relative;
	height:      15px;
	width:       500px;
}
slider span.bar {
	height: 4px;
    z-index: 0;
    background: #eee;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}
slider span.bar.selection, slider span.bar.unselected {
}
slider span.bar.selection {
	background: #3f51b5;
	opacity:    0.5;
}
slider span.bar.unselected {
	width:      auto;
	background: gray;
	opacity:    0.5;
}
slider span.pointer {
	cursor:           pointer;
	width:            15px;
	height:            15px;
	border-radius: 15px;
	top:              0;
	bottom:           0;
	background-color: #3f51b5;
	z-index: 2;
}
slider span.pointer:hover {
}
slider span.pointer.active {
}
slider span.bubble {
	font-size:   0.7em;
	line-height: 1.4em;
	font-family: sans-serif;
	text-align:  center;
	text-shadow: none;
	top:         -1.3em;
	cursor:      pointer;
}
slider span.bubble.selection, slider span.bubble.limit {
}
slider span.bubble.selection {
	display: none !important;
}
slider span.bubble.limit {
}
slider span.bubble.low, slider span.bubble.high {
}
.slider-container {
	-webkit-touch-callout: none;
	-webkit-user-select:   none;
	-khtml-user-select:    none;
	-moz-user-select:      -moz-none;
	-ms-user-select:       none;
	user-select:           none;
}
::-ms-tooltip {
	display: none;
}

.schedule {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-bottom: 45px;
}

.schedule-index {
	font-size: 30px;
	width: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

.schedule > button {
	margin: 0 20px;
}