


body, html {
    font-size: 18px;
    color: rgba(0,0,0,0.84);
}

h1 {
    color: black;
}

.secondary {
    color: rgba(0,0,0,0.55);
}

.material-icons.icon-external {
    font-size: 18px;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
}
p {
    font-size: 20px;
    line-height: 32px;
}

.emphasize {
    background-image: linear-gradient(to right, #FFCACA 11%, rgba(255,255,255,0) 0%);
    background-position: bottom;
    background-size: 13px 1px;
    padding-bottom: 4px;
    background-repeat: repeat-x;
}

.overlay .emphasize {
    color: #F74141;
}
h1.accent {
    text-shadow: 1px 1px 1px white;
}
.mdl-data-table__cell--non-numeric {
    padding-bottom: 12px !important;
}


.overlay {
}

.overlay .mdl-textfield>.mdl-textfield__label {
    color: white;
}

.overlay .mdl-textfield>.mdl-textfield__input {
    border-color: white;
    font-size: 25px;
    letter-spacing: 5px;
}
.inactive {
    opacity:0;
}

.hide {
    display: none;
}

.overlay-description {
    margin-left: 30px;
}
.overlay-title {
    display: inline-block;
    cursor: pointer;
    color: #FF4081;
    transition: all .2s ease-in-out;
}

.overlay-title:hover {
    transform: scale(1.1);
}

#brand  {
    color: #FFF;
    text-shadow: 1px 1px 1px #000;
    font-size: 25px;
}
#guide li{
    margin-top: 30px;
}
#guide-title {
    color: #FFF300;

}
#guide-description {
    font-size: 18px; 
}
#guide-footer {
    margin-top: 25px;
    padding-top: 20px;
    text-align: center;
}
#logo {
    max-height: 80%;
    max-width: 80%;
    margin-right: 20px;
}
main {
    width: 100%;
}

.enquiry-history-title {
    font-size: 20px;
    color: #9F9F9F;
    cursor: pointer;
}


.enquiry-table tr{
    margin-top: 20px;
    height: 0px !important;
}

.enquiry-table tr.ng-leave td,
.enquiry-table tr.ng-enter td{
    animation-timing-function: linear;
    transition: all 0.2s;
    overflow: hidden;   
}    

.enquiry-table tr.ng-leave td,
.enquiry-table tr.ng-enter.ng-enter-active td{    
    vertical-align: top;
    line-height: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    height: 48px;
}

.enquiry-table tr.ng-leave.ng-leave-active td,
.enquiry-table tr.ng-enter td{
    vertical-align: middle;
    line-height: 0px;
    padding-top: 0px;
    padding-bottom: 0px !important;
    height: 0px;
}

.enquiry-description img{
    width: 100%;
}

.enquiry-table {
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    white-space: normal;
}

.answers {
    padding: 10px;
}

.answers .answer {
    display: block;
}

.enquiry-title {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    letter-spacing: 3px;
}

.enquiry-description {
    margin: 15px 0px 5px 0px;
    font-size: 16px;
}

.answer label{
    margin-bottom: 10px;
}

.dialog-wrapper {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    align-items: center;
    z-index: 100;
}

.dialog{
    display: flex;
    flex-direction: column;
    width: calc( 80%  );
    height: 95%;
    background-color: white;
    //z-index: 200;
    overflow: hidden;
    margin: auto;
}


.dialog-header {
    display: flex;
    top: 0px;
    width: 100%;
    height: 64px;
    //    background-color: #3F51B5;
    background-color: #ABABAB;
    color: white;
    align-items: center;
    padding-left: 15px;
    font-size: 15px;
}

.dialog-content {
    height: 100%;
    width: calc( 100% - 30px );
    overflow-y:scroll;
    overflow-x:hidden;
    padding: 15px;
}

.dialog-content img {
    max-width: 90%;
    display: block;
}

.dialog-footer {
    height: 64px;
    width: 100%;
    display:flex;
    align-items: center;
    padding: 15px;
}

/* CSS for angular animation */
.ng-hide-add, .ng-hide-remove {
    /* ensure visibility during the transition */
    display: block !important; /* yes, important */
}

.angular-animation-fade {
    transition: 0.3s linear all;
    opacity: 1;
}

.angular-animation-fade.ng-hide {
    opacity: 0;
}

@media screen and (max-device-width: 480px){
    .dialog{
        width: 90%;
        height: 90%;        
    }
    
    .dialog-content img {
        max-width: 100%;
    }
}


.slide-animate-container {
  position:relative;
}

.slide-animate.ng-enter, .slide-animate.ng-leave {
  transition:all ease-in 2s;

  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.slide-animate.ng-enter {
  left:-1500px;
}
.slide-animate.ng-enter.ng-enter-active {
  left:0;
}

.slide-animate.ng-leave {
  left:0;
}
.slide-animate.ng-leave.ng-leave-active {
  left:1500px;
}




.fade-animation.ng-enter, .fade-animation.ng-leave {
   -webkit-transition:.1s linear all;
    transition:.1s linear all;
}

.fade-animation.ng-enter {
  opacity: 0;
}
.fade-animation.ng-enter.ng-enter-active {
  opacity: 1;
}

.fade-animation.ng-leave {
  opacity: 1;
}
.fade-animation.ng-leave.ng-leave-active {
  opacity: 0;
}


kbd {
  font-size: 1em;
  letter-spacing: 0.0625em;
  display: inline-block;
  padding: 3px 12px;
  background: #fff;
  border-radius: 0.1875em;
  color: black;
  text-decoration: none;
  -moz-box-shadow: inset 0 -0.0625em 0.1875em #fff, inset 0 0 1em #fff, 0 0.0625em 0.0625em #e6e6e6, 0 0.125em 0.0625em #b3b3b3, 0 0.1875em 0.0625em gray, 0 0.0625em 0.0625em 0.0625em #999999, 0 0.0625em 0 0.125em #cccccc, 0 0.125em 0 0.125em #fff;
  -webkit-box-shadow: inset 0 -0.0625em 0.1875em #fff, inset 0 0 1em #fff, 0 0.0625em 0.0625em #e6e6e6, 0 0.125em 0.0625em #b3b3b3, 0 0.1875em 0.0625em gray, 0 0.0625em 0.0625em 0.0625em #999999, 0 0.0625em 0 0.125em #cccccc, 0 0.125em 0 0.125em #fff;
  box-shadow: inset 0 -0.0625em 0.1875em #fff, inset 0 0 1em #fff, 0 0.0625em 0.0625em #e6e6e6, 0 0.125em 0.0625em #b3b3b3, 0 0.1875em 0.0625em gray, 0 0.0625em 0.0625em 0.0625em #999999, 0 0.0625em 0 0.125em #cccccc, 0 0.125em 0 0.125em #fff;
  margin: 0 5px;
  transition: 0.2s;
}

code {
    font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
    background-color: #eee;
    font-size: 20px;
    color: black;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 0px 3px;
}