<div class="faq">
    <div class="faq-entry">
        <p>
            在開始列右側網路狀態圖示上按右鍵，選取「開啟行動作業中心」。
        </p>
        <img src="images/open-network-center.png"/>
    </div>
    <div class="faq-entry">
        <p>

            點選「區域連線」。（注意：請點選有線網路的區域連線。）
        </p>
        <img src="images/network-center.png"/>
    </div>
    <div class="faq-entry">
        <p>

            點選「詳細資料」。
        </p>
        <img src="images/network-center-status.png"/>
    </div>
    <div class="faq-entry">
        <p>
            IPv4欄位右方的值即為你的IP。
        </p>
        <img src="images/network-center-status-detail-ip.png"/>
    </div>
    
</ol>
