<h2>手動使電腦重新獲得IP設定</h2>
<ol>
    <li>
        按下<kbd>開始鍵<img src="images/win-key.png"/>+R</kbd>。<br/>
        輸入cmd，按下確定。<br/>
        <a href="images/renew-dhcp/win-r.png">
            <img src="images/renew-dhcp/win-r.png"/>
        </a>
    </li>
    <li>
        輸入 <code>ipconfig /release</code> <br/>
        <a href="images/renew-dhcp/cmd-release.png" >
            <img src="images/renew-dhcp/cmd-release.png" />
        </a>
        <br/>
        結果
        <a href="images/renew-dhcp/cmd-release-result.png" >
            <img src="images/renew-dhcp/cmd-release-result.png" />
        </a>
    </li>
    <li>
        輸入 <code>ipconfig /release</code> <br/>
        <a href="images/renew-dhcp/cmd-renew.png">
            <img src="images/renew-dhcp/cmd-renew.png" />
        </a>
        <br/>
        結果
        <a href="images/renew-dhcp/cmd-renew-result.png">
            <img src="images/renew-dhcp/cmd-renew-result.png" />
        </a>
    </li>
    <li>
        如果以上步驟試過一次還是無法連上網路，可以再重複試幾次。
    </li>
</ol>
